<div class="container py-4">
  <div class="p-4 bg-dark text-white rounded shadow">
    <h2 class="fw-bold" >Admin Dashboard 🛠</h2>
    <p class="mb-0">Manage contests, results and players.</p>
  </div>

  <div class="row mt-4">
    <div class="col-md-4" routerLink="/admin/contests">
      <div class="card card-hover shadow p-3 text-center">
        <h4 routerLink="/AdminContestList" >🎮 Manage Contests</h4>
      </div>
    </div>

    <div class="col-md-4" routerLink="/admin/contests/create">
      <div class="card card-hover shadow p-3 text-center">
        <h4 routerLink="/AdminContestCreate">➕ Create Contest</h4>
      </div>
    </div>
  </div>
</div>
